/* Dark Mode Colors */
/*:root {
  --main-background: #252525;
  --highlight: #414141;
  --shadow: #161616;
  --text-color: #ffffff;
  --border-color: #00000000;
  --button-hover: #2b2b2b;
  --button-pressed: #202020;
  --text-pressed: #c8c8c8;
}*/

/* Light Mode Colors */
:root {
  --main-background: #efefef;
  --highlight: #ffffff;
  --shadow: #bfbfbf;
  --text-color: #000000;
  --border-color: #00000000;
  --button-hover: #e8e8e8;
  --button-pressed: #dfdfdf;
  --text-pressed: #202020;
  --text-pressed: #000000;
}

body {
  background-color: var(--main-background);
  color: var(--text-color);
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.App {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 60rem;
  min-height: 80vh;
  padding: 2rem;
}

.App * {
  margin: 1rem;
}

.elementContainer {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.elementContainer * {
  margin: 1rem;
}

.Card {
  background-color: var(--main-background);
  width: auto;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 2rem;
  border: 1px solid var(--border-color);
}

.hardElevated {
  box-shadow: inset 2px 2px 2px var(--highlight), 
  3px 3px 3px var(--shadow);
  border: none ! important;
}

.softElevated {
  box-shadow: -3px -3px 3px var(--highlight), 
  3px 3px 3px var(--shadow),
  inset -3px -3px 3px var(--shadow),
  inset 3px 3px 3px var(--highlight);
  border: none ! important;
}

button {
  color: var(--text-color);
}

button:not(.disabled) {
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover);
}

button.hardElevated:active, button.hardElevated.disabled {
  box-shadow: inset 3px 3px 3px var(--shadow),
  2px 2px 2px var(--highlight);
}

button.softElevated:active, button.softElevated.disabled {
  box-shadow: -1px -1px 1px var(--shadow),
  3px 3px 3px var(--highlight),
  inset -1px -1px 1px var(--highlight),
  inset 3px 3px 3px var(--shadow);
}

button:active, button.disabled {
  background-color: var(--button-pressed);
  color: var(--text-pressed);
}

hr.spacer {
  border: 2px solid var(--highlight);
  border-top: 2px solid var(--shadow);
  border-left: 2px solid var(--shadow);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header {
  margin-bottom: 2rem;
}

.footerText {
  text-align: end;
  color: var(--text-pressed);
  margin-top: 1.5rem;
}